<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartseller">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.android.hardware.Camera.focus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="ElectroServ"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".switchStatus"></activity>
        <activity android:name=".identify_code_customer" />
        <activity android:name=".register_customer" />
        <activity android:name=".register_customer2" />
        <activity android:name=".loginCustomer" />
        <activity android:name=".Verify" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Passwordc" />
        <activity android:name=".Login" />
        <activity android:name=".Password" />
        <activity android:name=".Repairing" />
        <activity android:name=".Maintenance" />
        <activity android:name=".Details" />
        <activity android:name=".Seller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>