<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartseller">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".identify_code_customer"></activity>
        <activity android:name=".register_customer" />
        <activity android:name=".register_customer2" />
        <activity android:name=".loginCustomer" />
        <activity android:name=".Verify" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Passwordc" />
        <activity android:name=".Login" />
        <activity android:name=".Password" />
        <activity android:name=".Register" />
        <activity android:name=".Repairing" />
        <activity android:name=".Maintenance" />
        <activity android:name=".Details" />
        <activity android:name=".Seller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>